html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
table, caption, tbody, tfoot, thead, tr, th, td,
main, header, section, footer, aside, nav, article, figure {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* HTML5 tags */
main, header, section, footer, aside, nav, article, figure { display: block; }

/* iOS styling remover */
* { -webkit-tap-highlight-color:transparent; }
input,textarea, select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
            border-radius: 0;
}

/* selection */
::-moz-selection {color:#fff; background: rgba(106, 197, 183, 1);}
     ::selection {color:#fff; background: rgba(106, 197, 183, 1);}



/* =============================================================================
   body & a
   ========================================================================== */

body {
	width: 100%;
	margin: auto;
    color: #333;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25); 
       -moz-transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25); 
         -o-transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25); 
            transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25);
*/

/* =============================================================================
   HEADER
   ========================================================================== */

.masthead {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 100%;
    overflow: auto;
    z-index: 1000;
    background-color: #555;
    padding: 42px 0 42px;
}
.mastheadBefore {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 52px;
    z-index: 999;
    font-size: 18px;
    line-height: 52px;
    font-weight: 400;
    color: #555;
    padding: 0 0 0 20px;
}
.brand {
    display: none;
}


/* =============================================================================
   navigation & utility & social menu
   ========================================================================== */

.navigation ul.menu.level-1 li.item,
.navigation ul.menu.level-1 li.item.dropdown.ui .dropdown.content ul.menu.ui li.item,
.utility ul.menu li {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
    color: rgba(255, 255, 255, 0.875);
    font-size: 18px;
    line-height: 60px;
/*    border-bottom: 1px solid rgba(0, 0, 0, 0.25);*/
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.navigation ul.menu.level-1 li.item a,
.navigation ul.menu.level-1 li.item.dropdown.ui a,
.utility ul.menu li a {
    padding: 0 0 0 20px;
}
.navigation ul li .dropdown.content ul.menu.ui li.item a {
    padding: 0 0 0 40px;
    color: rgba(255, 255, 255, 0.625);
}
.utility ul.menu li.item.dropdown.ui ul li a {
    padding: 0 0 0 40px;
    color: rgba(255, 255, 255, 0.375);
}
.navigation ul li .dropdown.content,
.utility ul.menu li .dropdown.content {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.navigation ul li .dropdown.content.active {
    height: 180px;
}
.utility ul.menu li .dropdown.content.active {
    height: 100px;
}
.navigation ul li .dropdown.content ul.menu.ui,
.utility ul.menu li {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 50px;
}
.utility ul.menu li .dropdown.content ul.menu.ui {
    background-color: #444;
}
.navigation ul.menu.level-1 li.item:hover,
.navigation ul.menu.level-1 li.item.dropdown.ui:hover,
.navigation ul.menu.level-1 li.item.dropdown.ui .dropdown.content ul.menu.ui li.item:hover,
.utility ul.menu li:hover {
    background-color: rgba(0, 0, 0, 0.125);
}
nav.social {
    background-color: #333;
    width: 100%;
    overflow: auto;
    position: fixed;
    bottom: 0;
    border-top: 2px solid #333;
    padding: 0 0 0 25px;
}
nav.social ul.menu li.item {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    float: left;
    position: relative;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
    opacity: 0.75;
}
nav.social ul.menu li.item:hover {
    background-color: rgba(106, 197, 183, 1);
    opacity: 1;
}
.item a[title="Twitter"]:before,
.item a[title="Tumblr"]:before,
.item a[title="Vimeo"]:before,
.item a[title="Behance"]:before,
.item a[title="Flickr"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    width: 30px;
    height: 30px;
    background-position: center;
}
.item a[title="Twitter"]:before {
    background: url(../img/social_tw.svg) no-repeat;
}
.item a[title="Tumblr"]:before {
    background: url(../img/social_tr.svg) no-repeat;
}
.item a[title="Vimeo"]:before {
    background: url(../img/social_vi.svg) no-repeat;
}
.item a[title="Behance"]:before {
    background: url(../img/social_be.svg) no-repeat;
}
.item a[title="Flickr"]:before {
    background: url(../img/social_fl.svg) no-repeat;
}
.form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    overflow: auto;
    margin: 0 0 30px;
    width: 100%;
    border-bottom: 2px solid #333;
}
.form input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 1em;
    line-height: 1.25;
    padding: 10px 20px;
    background-color: #333;
    width: 70%;
    float: left;
    color: #fff;
}
.form button.control {
    width: 100%;
    background-color: rgba(106, 197, 183, 1);
    outline: none;
    border: none;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 500;
    padding: 10px 0;
    color: #fff;
    width: 30%;
    float: right;
}


/* =============================================================================
   main
   ========================================================================== */
/*>>>*/
main.page {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.main {
    width: 100%;
    padding: 70px 125px 50px;
    overflow: hidden;
}
h1.page.heading,
.news.lede.ui,
.items.posts.ui,
.items.events.ui,
.h-entry.story .attach,
.h-entry.story header,
.h-entry.story .body,
.h-entry.story footer {
    width: 700px;
    margin: auto;
    padding: 0;
    float: none;
}
.h1Wrapper {
    margin: 60px auto 100px;
    width: auto;
    text-align: center;
}
h1.page.heading {
    display: inline;
    font-size: 2em;
    line-height: 1;
    font-weight: 700;
    padding: 5px 20px;
    text-align: center;
    border: 6px solid #333;
}
.post.item,
.event.item {
    clear: both;
    width: 100%;
    overflow: auto;
    padding: 0 0 20px;
}
.item.teaser {
    clear: none;
}
.post.item + *,
.event.item + * {
    padding: 20px 0 20px;
}
.post.item:hover .attach img,
.event.item:hover .attach img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
.post .attach,
.event .attach {
    width: 150px;
    float: left;
}
.post .attach img,
.event .attach img {
    width: 100%;
    display: block;
    border: 6px solid #333;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 600ms ease;
       -moz-transition: all 600ms ease;
         -o-transition: all 600ms ease;
            transition: all 600ms ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
.post .content,
.event .content {
    overflow: auto;
    padding-left: 30px;
}
.post h2.heading,
.event h2.heading {
    color: #333;
    font-size: 1.75em;
    line-height: 1;
    font-weight: 600;
    margin: 0 0 3px 0;
}
.post .meta p.date,
.post .meta p.location,
.event .meta p.date,
.event .meta p.location,
.byline em.story,
.lede .content .meta .date,
.lede .content .meta .location {
    font-size: 1.15rem;
    line-height: 1.25;
    font-family: "Crete Round";
}
.lede .content .meta .date,
.lede .content .meta .location {
    font-size: 1.5rem;
}
.byline em.story {
    color: #aaa;
    font-size: 0.875rem;
}
.post .meta p a.map.link,
.event .meta p a.map.link,
.byline a.link {
    font-size: 0.875rem;
    color: rgba(106, 197, 183, 1);
    font-family: "Crete Round";
}
.post .copy p,
.event .copy p,
.lede .content .copy p {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.45;
    margin: 5px 0 10px 0;
}
.event .footer {
}

.content .footer nav.categories,
.content .footer nav.tags {
    margin: 0 0 0 -4px;
}
.content .footer nav.categories a.category,
.content .footer nav.tags a.tag {
    border: 2px solid rgba(106, 197, 183, 1);
    color: rgba(106, 197, 183, 1);
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1;
    float: left;
    margin: 4px;
    padding: 4px 8px;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.content .footer nav.categories a.category:hover,
.content .footer nav.tags a.tag:hover {
    background-color: rgba(106, 197, 183, 1);
    color: #fff;
}





/* =============================================================================
   event-detail page
   ========================================================================== */


/* =============================================================================
   profile-detail page
   ========================================================================== */

article.h-entry.story {
    width: 100%;
    margin: auto;
    position: relative;
}
article.h-entry.story figure.attach {
}
article.h-entry.story figure.attach img {
    width: 100%;
    height: 100%;
}
article.h-entry.story figure.attach figcaption {
    color: #aaa;
    padding: 0 0 30px 0;
}
article.h-entry.story .content {
    padding-left: 0;
    overflow: inherit;
    display: block;
    clear: both;
    width: 100%;
}
article.h-entry.story .content .header h1 {
    display: block;
    font-weight: 700;
    font-size: 4.5em;
    line-height: 1;
}
article.h-entry.story .content .meta p.date {
    font-size: 1.5em;
    line-height: 1.75;
    font-weight: 700;
    font-family: 'Kameron', serif;
}
article.h-entry.story .content .byline {
    clear: both;
    display: block;
    margin: 80px 0 40px;
    font-weight: 400;
    color: #aaa;
}
article.h-entry.story .content .byline em.story {
}
article.h-entry.story .content .byline a.link {
    color: rgba(106, 197, 183, 1);
    font-family: 'Kameron', serif;
    font-weight: 700;
}


aside.profiles {
    position: absolute;
    left: 0;
    width: 150px;
    padding: 0 0 0 10px;
    overflow: hidden;
}
aside.profiles .profile.card {
    overflow: hidden;
    display: inline-block;
    float: left;
    margin: 0 0 30px;
}
aside.profiles .profile.card figure.attach {
    width: 100px;
    height: 100px;
    margin: 0;
    display: inline-block;
}
aside.profiles figure.attach img {
    width: 100px !important;
    height: 100px !important;
    max-width: 100%;
    max-height: 100%;
    border: 4px solid #333;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    display: inline-block;
}
aside.profiles .profile.card .content {
    margin: 0;
    display: inline-block;
    width: 150px;
    overflow: hidden;

}
aside.profiles .profile.card .content p.heading {
    width: 100%;
    background-color: #fff;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.25em;
    font-weight: 600;
    margin: 5px 0 0 0;
}
aside.profiles .profile.card .content ul.link.list {
    font-size: 0.875em;
    color: #aaa;
}
aside.profiles .profile.card .content li.item {
    float: left;
}
aside.profiles .profile.card .content li.item:first-child {
    display: block;
    float: none;
    line-height: 1.75;
}
aside.profiles .profile.card .content li.item:nth-child(5n + 2) {
    margin-left: -5px;
}
aside.profiles .profile.card .content li.item a {
}
aside.profiles .profile.card .content li.item a i.icon {
    width: 1.875em;
    height: 1.5em;
    display: inline-block;
    background-size: 2em;
    background-position: center center;
    background-repeat: no-repeat;
}
aside.profiles .profile.card .content li.item a i.icon.twitter {
    background-image:url(../img/social_tw_g.svg);
}
aside.profiles .profile.card .content li.item a i.icon.instagram {
    background-image: url(../img/social_ig_g.svg);
}
aside.profiles .profile.card .content li.item a i.icon.behance {
    background-image: url(../img/social_be_g.svg);
}

article.h-entry.story .content .body {
    clear: both;
}
article.h-entry.story .content .body p {
    font-weight: 300;
    font-size: 1.275em;
    line-height: 1.65;
    margin: 0 0 0.875em;
    font-family: 'Kameron', serif;
}
article.h-entry.story .content .body p strong {
    font-weight: 600;
    font-size: 1.25em;
    line-height: 1.125;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    font-family: 'Kameron', serif;
}
article.h-entry.story .content .body p em {
    font-style: italic;
}



aside.segment.gallery {
    position: absolute;
    right: 0;
    width: 20%;
    min-width: 220px;
}
aside.segment.gallery ul.slides {
    padding: 0 0 0 20px;
}
aside.segment.gallery ul.slides li.slide {
}
aside.segment.gallery ul.slides li.slide a {
}
aside.segment.gallery ul.slides li.slide a img {
    width: 70%;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 10;
    border: 4px solid #333;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
aside.segment.gallery ul.slides li.slide:nth-child(2) a img {
    top: -10px;
    left: 30px;
    z-index: 9;
}
aside.segment.gallery ul.slides li.slide:nth-child(3) a img {
    top: -20px;
    left: 40px;
    z-index: 8;
}

aside.segment.gallery:hover ul.slides li.slide a img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    top: -30px;
    left: -20px;
}
aside.segment.gallery:hover ul.slides li.slide:nth-child(2) a img {
    top: -50px;
    left: 60px;
    z-index: 9;
}
aside.segment.gallery:hover ul.slides li.slide:nth-child(3) a img {
    top: -10px;
    left: 80px;
    z-index: 8;
}
aside.segment.gallery .reveal.gallery {
    margin: 70% 0 0 20px;
}

article footer.footer {
    background-color: transparent;
    text-align: left;
    overflow: auto;
}

article footer.footer .byline {
    margin: 10px 0 0 0;
}
article footer.footer .byline p.heading {
    font-size: 0.875em;
    line-height: 2;
    font-weight: 600;
    color: #333;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
}
article footer.footer .byline .card {
    overflow: hidden;
}
article footer.footer .byline .card figure.attach {
    width: 100px;
    height: 100px;
    display: inline-block;
}
article footer.footer .byline .card figure.attach img {
    width: 100px;
    height: 100px;
    border: 4px solid #333;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
article footer.footer .byline .card .content {
    clear: both;
    display: inline-block;
    line-height: 50px;
    font-size: 1em;
    font-weight: 600;
    color: rgba(106, 197, 183, 1);
    font-family: 'Kameron', serif;
}
article footer.footer .byline .card .content:hover {
    text-decoration: underline;
}




/* =============================================================================
   homepage + lede
   ========================================================================== */
/*>>>*/
section.events h1.heading,
section.gallery h1.heading {
    font-size: 1.5em;
    font-weight: 600;
}
section.events,
section.gallery,
section.spotify {
    width: 100%;
    margin: 40px auto 0;
}
ul.events.items.ui,
ul.slides {
    overflow: hidden;
}
.lede.home.ui,
.lede.blog.ui,
.lede.news.ui {
    width: 700px;
    margin: 0 auto 60px;
    overflow: auto;
}
.lede .attach {
    float: left;
    width: 300px;
    overflow: hidden;
}
.lede .attach img{
    width: 100%;
/*    border: 8px solid #333;*/
}
.lede .content {
    float: left;
    padding: 0 0 0 30px;
    width: calc(100% - 300px);
}
.lede .content .header h2.heading {
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1;
    margin: 0;
}
ul.events.items.ui {

}
li.event.item.teaser {
    width: 18.4%;
    float: left;
    margin: 10px 2% 0 0;
    padding: 0;
    overflow: auto;
}
.event.item.teaser:last-child {
    margin: 10px 0 0;
}
.event.item.teaser .attach {
    height: auto;
    width: 100%;
    float: left;
    margin: 0 0 5px;
    overflow: hidden;
}
.event.item.teaser .attach img {
    border: none;
}
.event.item.teaser .body {
    margin: 0 0 10px;
}
.event.item.teaser h2.heading,
section.gallery ul.slides li.slide .caption p.title {
    color: #333;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 1.325;
}
.event.item.teaser .meta p.date,
.event.item.teaser .meta p.location,
section.gallery ul.slides li.slide .caption h2.name {
    font-size: 0.75em;
    line-height: 1.25;
    font-family: 'Kameron', serif;
}
.event.item.teaser .copy {
    display: none;
}





.liIMG {
    width: 100%;
    height: 240px;
    background-color: #ddd;
    background-image: url();
    background-size: cover;
    background-position: center;
    margin: 0 0 5px 0;
}
/*>>>HERE*/

section.gallery ul.slides li.slide {
    width: 32%;
    float: left;
    margin: 10px 2% 10px 0;
    padding: 0;
}
section.gallery ul.slides li.slide:nth-child(3n) {
    margin: 10px 0 10px;
}
section.gallery ul.slides li.slide:last-child {
}
section.gallery ul.slides li.slide img {
    width: 100%;
    height: 240px;
    border: 8px solid #333;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
section.gallery ul.slides li.slide img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
section.gallery ul.slides li.slide .caption {

}



section.events .footer,
section.gallery .footer {
    display: block;
    width: 100%;
    clear: both;
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 0.75em;
    line-height: 3;
    margin: 10px 0 0 0;
    color: #aaa;
}
section.spotify .item.playlist {
    overflow: auto;
}
section.spotify .item.playlist .header{
    float: left;
    width: calc(100% - 320px);
    text-align: center;
}
section.spotify .item.playlist .header h1.heading {
    font-size: 4em;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 80px;
}
section.spotify .item.playlist .byline{
}
section.spotify .item.playlist .byline em.type.playlist {
    font-size: 2em;
    font-weight: 300;
    line-height: 1.5;
}
section.spotify .item.playlist .copy {
    float: right;
    width: 300px;
}
section.spotify .item.playlist .copy iframe {
    float: right;
}



/* =============================================================================
   paginate
   ========================================================================== */

.menu.paginate li.item {
    display: inline-block;
}
.menu.paginate li.item + * a {
    margin: 0 0 0 8px;
}
.menu.paginate .item a.active {
    color: rgba(106, 197, 183, 1);
}
nav.items.pagination.menus.ui,
nav.menus.paging {
    overflow: auto;
    clear: both;
    border: none;
    width: 100%;
    padding: 0;
    margin: 50px 0 0 0;
}
nav.items.pagination.menus.ui strong.menus.title {
    display: none;
}
nav.items.pagination.menus.ui a.prev.page.link,
nav.items.pagination.menus.ui a.next.page.link,
.menu.paginate li.item a {
    border: 2px solid transparent;
    color: #aaa;
    font-size: 1em;
    font-weight: 600;
    padding: 4px 8px;
    display: inline-block;
    text-align: center;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
nav.items.pagination.menus.ui a.prev.page.link:hover,
nav.items.pagination.menus.ui a.next.page.link:hover,
.menu.paginate li.item a:hover {
    border: 2px solid rgba(106, 197, 183, 1);
    color: rgba(106, 197, 183, 1);

}
nav.items.pagination.menus.ui a.prev.page.link {
    float: left;
}
nav.items.pagination.menus.ui a.next.page.link {
    float: right;
}




/* =============================================================================
   sub
   ========================================================================== */
/*>>>*/

.sub.content {
    margin: auto;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid #ddd;
    overflow: auto;
    text-align: center;
}
.subscribe.segment {
    clear: both;
    width: 700px;
    margin: 0 auto 30px;
}
.email {
    overflow: auto;
}
.email h2,
nav.tags.menus.segment h2.heading,
nav.categories.menus.segment.ui strong.menus.title {
    font-size: 1.125em;
    font-weight: 400;
    color: #aaa;
    line-height: 1;
    margin: 30px 0 20px;
    display: block;
}
.mc-field-group label {
    display: none;
}
.mc-field-group input {
    float: left;
    width: 75%;
    height: 42px;
    margin: auto;
    border: none;
    outline: none;
    padding: 10px 15px;
    font-size: 1em;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    border: 2px solid #fff;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.mc-field-group input:focus {
    border: 2px solid rgba(106, 197, 183, 1);
}
.email .button {
    float: right;
    width: 25%;
    margin: 0 0 15px;
    outline: none;
    border: none;
    font-size: 1em;
    line-height: 22px;
    font-weight: 600;
    padding: 10px 0;
    color: #fff;
    background-color: rgba(106, 197, 183, 1);
}
.subscribe .rss {
    margin: auto;
    clear: both;
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1;
    padding: 4px 8px;
    text-align: center;
    display: inline-block;
    background-color: transparent;
    color: #aaa;
    border: 2px solid #aaa;
    margin: 10px auto;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.subscribe .rss:hover {
    color: #fff;
    background-color: rgba(106, 197, 183, 1);
    border: 2px solid rgba(106, 197, 183, 1);
}
.calendar.segment {
    width: 700px;
    margin: 0 auto 40px;
    background-color: rgba(106, 197, 183, 1);
}
table.mini.cal.ui {
    width: 100%;
    table-layout: fixed;
    color: #333;
    border-bottom: 5px solid rgba(106, 197, 183, 1);
}
table.mini.cal.ui caption {
    width: 100%;
    position: relative;
    font-size: 1.125em;
    line-height: 38px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
}
nav.months.menu.ui a {
    font-size: 12px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(106, 197, 183, 1);
    padding: 0 10px;
}
nav.months.menu.ui a.prev {
    position: absolute;
    left: 10px;
    top: 10px;
    left: 0;
    top: 0;
}
nav.months.menu.ui a.next {
    position: absolute;
    right: 10px;
    top: 10px;
    right: 0;
    top: 0;
}
tr.days.week th {
    font-size: 0.75em;
    font-weight: 600;
    color: #fff;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.25);
}
.abbr-short {
    display: none;
}
tr.days.week {
    height: 30px;
}
tr.week {
    height: 50px;
}
tr.week td {
    position: relative;
    vertical-align: middle;
}
td.events.day {
}
td.off span.date {
    color: rgba(255, 255, 255, 0.5);
}
td span.date {
    display: block;
    font-size: 0.875em;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
td span.date:hover::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    margin-left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}
td .eventDot {
    content: "";
    position: absolute;
    left: calc(50% - 1px);
    bottom: -2px;
    left: 0;
    right: 0;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin: auto;
}
.eventLinkCon {
    opacity: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    bottom: 30px;
    left: -25px;
    width: 90px;
    height: auto;
    padding: 6px 10px;
    z-index: 10000;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    background-color: #33635c;
}
.eventLinkCon a.event.link {
    display: none;
    color: #fff;
    font-size: 0.75em;
    line-height: 1.5;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.eventLinkCon a.event.link:hover {
    text-decoration: underline;
}
.eventLinkCon.active {
    pointer-events: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}
.eventLinkCon.active a.event.link {
    display: block;
}



nav.tags.menus.segment,
nav.categories.menus.segment.ui {
    width: 700px;
    margin: 0 auto 40px;
    clear: both;
    display: block;
}
nav.tags.menus.segment ul.menu,
nav.categories.menus.segment.ui ul.menu {
    text-align: center;
    overflow: auto;
    clear: both;
}

nav.tags.menus.segment ul.menu li.item,
nav.categories.menus.segment.ui ul.menu li.item,
.archives.segment {
    overflow: hidden;
    display: inline-block;
    border: 2px solid #aaa;
    color: #aaa;
    font-size: 1em;
    font-weight: 600;
    line-height: 40px;
    margin: 4px;
    padding: 0 15px;
    background-color: transparent;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
nav.tags.menus.segment ul.menu li.item:hover,
nav.categories.menus.segment.ui ul.menu li.item:hover,
.archives.segment:hover {
    background-color: rgba(106, 197, 183, 1);
    border: 2px solid rgba(106, 197, 183, 1);
    color: #fff;
}


/* =============================================================================
   footer
   ========================================================================== */

footer {
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}
footer.footer {
    width: calc(100% - 250px);
    width: 100%;
    clear: both;
    background-color: #333;
    overflow: auto;
    margin: 0 0 0 250px;
    margin: auto;
    color: #aaa;
    position: relative;
    z-index: 1000;
    padding: 0 10px;

}
.footer nav.departments.menus ul li {
    float: left;
    font-size: 0.875em;
    line-height: 42px;
    margin: 0 10px;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.footer nav.departments.menus ul li:hover {
    color: #fff;
}
.footer .legal {
    font-size: 0.875em;
    float: right;
    line-height: 42px;
    margin: 0 10px;
}




/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@media only screen and (max-width: 1024px) {

    .main {    
        width: 92%;
        margin: auto;
        padding: 70px 0 50px;
    }
    
    
    tr.week {
        height: 50px;
    }
    .navigation .menu,
    .utility .menu {
        min-width: 100%;
    }
    .event h2.heading {
        margin: 5px 0 0 0;
    }

    .sub {
        clear: both;
        width: 100%;
        padding: 0 !important;
/*        display: none;*/
    }
}
@media only screen and (max-width: 768px) {
    .navigation .menu,
    .utility .menu,
    .post .copy p,
    .event .copy p {
        display: none;
    }


    .event h2.heading {
        font-size: 2em;
        margin: 5px 0 0 0;
    }
    .main.items.events.ui .post .content,
    .main.items.events.ui .event .content {
        width: calc(100% - 150px);
        padding-left: 20px;
    }
    .item.post .attach,
    .item.event .attach {
        height: 150px;
        width: 150px;
        float: left;
        overflow: hidden;

    }
    .brand .mark {
        display: none;
    }
    .post.item + *,
    .event.item + * {
        border-top: 1px solid #ddd;
    }
    
    .content .footer nav.categories,
    .content .footer nav.tags {
        margin-top: 10px;
    }
    .lede.home.ui,
    .lede.blog.ui,
    .lede.news.ui,
    h1.page.heading,
    .news.lede.ui,
    .items.posts.ui,
    .items.events.ui,
    .h-entry.story .attach,
    .h-entry.story header,
    .h-entry.story .body,
    .h-entry.story footer {
        width: 100%;
    }
    .subscribe.segment,
    .calendar.segment,
    nav.tags.menus.segment,
    nav.categories.menus.segment.ui {
        width: 92%;
    }
    

}
@media only screen and (max-width: 480px) {

}



/*

header {
    background-color: red;
}
.navigation .menu,
.utility .menu {
    background-color: green;
}
main.page {
    background-color: lime;
}
.main {
    background-color: blue;
}*/


