::selection {color:#fff; background: rgba(106, 197, 183, 1);}
::-moz-selection {color:#fff; background: rgba(106, 197, 183, 1);}
*{box-sizing: border-box;}
body {
	width: 100%;
	margin: auto;
    color: #333;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.brand{
    background: url(../img/angles-in-atrium.jpg) no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    z-index: -2;
}
.brand .mark {
    content: "";
    display: block;
    font-size: 3em;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-top: 300px;
}
.brand .mark:before {
    content: "";
    border: solid 8px #333;
    padding: 28px 250px;
    position: absolute;
    top: calc(50% - 52px);
    left: calc(50% - 258px);
    background-color: rgb(255, 255, 255);
    z-index: -1;
}
.navigation .menu {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
/*    border-bottom: 1px solid #ddd;*/
}
.menu,
.menu .item {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu .item {
    display: inline-block;
}
.navigation .menu .link {
    display: inline-block;
    text-decoration: none;
    color: #888;
    font-size: 1.5em;
    line-height: 3;
    margin: 0 20px;
    position: relative;
}
.navigation .menu .link:after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 12px;
    border-bottom: 2px solid #fff;
    z-index: -1;
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
}
.navigation .menu .link:hover:after {
    border-bottom: 2px solid #888;
}
.navigation .menu .link.active:after {
    border-bottom: 2px solid rgba(106, 197, 183, 1);
}
.navigation .menu .link.active {
    color: rgba(106, 197, 183, 1);
}
main.page {
    width: 100%;
    margin: auto;
    overflow: auto;
}
.main {
    width: 75%;
    float: left;
    padding: 0 50px 50px 0;
    overflow: hidden;
}
.event.item {
    width: 100%;
/*    width: 33.3333333333333%;*/
/*    margin: 0 8% 0 0;*/
    float: left;
    margin: 10px 0;
    overflow: auto;
}
.event.item:hover .attach img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.event .content {
    width: 65%;
    float: right;
    padding: 0 0 0 30px;
    margin: -10px 0 0 0;
}
.event .attach {
    height: 300px;
    width: 35%;
    float: left;
    margin: 0 0 20px;
    overflow: hidden;
}
.event .attach img {
/*    max-width: 100%;*/
/*    max-height: 100%;*/
    width: 100%;
/*    padding: 0 20px 0 0;*/
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
    -webkit-transition: all 600ms ease;
       -moz-transition: all 600ms ease;
         -o-transition: all 600ms ease;
            transition: all 600ms ease;
}
.event h2.heading {
    color: #333;
    font-weight: 800;
    font-size: 3.125em;
    line-height: 1;
    margin: 0 0 0 -2px;
}
.event h2.heading:hover {
}
.event .meta p.date,
.event .meta p.location {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    font-family: "Crete Round";
}
.event .meta p.date {
    font-size: 1.25em;
}

.event .meta p a.map.link {
    color: rgba(106, 197, 183, 1);
}
.event .copy p {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.45;
    margin: 5px 0 15px 0;
}
.event .footer {
}
.event nav.categories {
    margin: 0 0 0 -3px;
}
.event nav.categories .category {
    background-color: rgba(106, 197, 183, 1);
    border: 2px solid rgba(106, 197, 183, 1);
    color: #fff;
    font-size: 0.75em;
    line-height: 1;
    float: left;
    margin: 3px;
    padding: 4px 8px;
    border-radius: 2px;
/*    font-family: "Crete Round";*/
}
.event nav.tags {
    clear: both;
    margin: 0 0 0 -3px;
}
.event nav.tags .tag {
    background-color: #aaa;
    border: 2px solid #aaa;
    color: #fff;
    font-size: 0.75em;
    line-height: 1;
    float: left;
    margin: 3px;
    padding: 4px 8px;
    border-radius: 2px;
/*    font-family: "Crete Round";*/
}
nav.menus.paging {
    margin: 0 0 0 35%;
    padding: 0 0 0 30px;
    clear: both;
}
.menu.paginate .item a {
    font-size: 1em;
    font-weight: 400;
    line-height: 1;
    border: 2px solid #aaa;
    color: #aaa;
    padding: 5px 8px;
    margin: 3px;
    border-radius: 2px;
}
.menu.paginate .item a.active {
    border: 2px solid rgba(106, 197, 183, 1);
    color: rgba(106, 197, 183, 1);
}
.sub {
    float: right;
    width: 25%;
}
.formats.menus.segment {
    
}
.subscribe.segment {

}
.email {

}
.calendar.segment {
    max-width: 100%;
}
table.mini.cal.ui {
    width: 100%;
    table-layout: fixed;
    color: #333;
}
table.mini.cal.ui caption {
    width: 100%;
    position: relative;
    font-size: 1.25em;
    line-height: 40px;
/*    font-weight: 800;*/
    background-color: rgba(106, 197, 183, 1);
/*    background-color: #333;*/
    color: #fff;
}
nav.months.menu.ui a {
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    padding: 0 10px;
}
nav.months.menu.ui a.prev {
    position: absolute;
    left: 10px;
    top: 10px;
    left: 0;
    top: 0;
}
nav.months.menu.ui a.next {
    position: absolute;
    right: 10px;
    top: 10px;
    right: 0;
    top: 0;
}
tr.days.week {
    height: 30px;
/*    background-color: rgba(106, 197, 183, 1);*/
}
tr.days.week th {
    font-size: 0.75em;
    font-weight: 600;
    color: #fff;
    color: #333;
}
.abbr-short {
    display: none;
}
tr.week {
    height: 50px;
}
tr.week:nth-child(even) {
    background-color: #f5f5f5;
}
tr.week td {
    position: relative;
}
td.events.day {
    padding: 0 4px 0 0;
}
td span.date {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 0.75em;
}
a.event.link {
    font-size: 0.75em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(106, 197, 183, 1);
    padding: 2px 4px;
    margin: 6px 0 0 0;
    border-radius: 2px;
    color: #fff;
    position: relative;
    z-index: 5;
}
a.event.link:hover {
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);*/
    white-space: normal;
    -webkit-transform: scale(1.25);
    transform:         scale(1.25);
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
}
.footer {
    width: 100%;
    clear: both;
}