html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
table, caption, tbody, tfoot, thead, tr, th, td,
main, header, section, footer, aside, nav, article, figure {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* HTML5 tags */
main, header, section, footer, aside, nav, article, figure { display: block; }

/* iOS styling remover */
* { -webkit-tap-highlight-color:transparent; }
input, textarea, select {
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius: 0;
}
div, a, section, article, span, img, h1, h2, h3, h4, h5 ,h6 {
    -webkit-user-select:none;
    -moz-user-select:none;
}

/* selection */
::-moz-selection {color:#fff; background: rgba(106, 197, 183, 1);}
     ::selection {color:#fff; background: rgba(106, 197, 183, 1);}



/* =============================================================================
   body & a
   ========================================================================== */

body {
	width: 100%;
	margin: auto;
    color: #333;
    font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/*
*[role="search"] {
    background-color: lime;
}
*/
/*
    -webkit-transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25); 
       -moz-transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25); 
         -o-transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25); 
            transition: all 300ms cubic-bezier(0.4, 0.15, 0.17, 1.25);
*/

/* =============================================================================
   HEADER
   ========================================================================== */

.masthead {
    position: relative;
    padding-top: 40px;
}
.brand{
    background: url(../img/angles-in-atrium.jpg) no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    z-index: -2;
}
.brand .mark {
    display: block;
    font-size: 3em;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-top: 150px;
}
.brand .mark:before {
    content: "";
    border: solid 8px #333;
    padding: 28px 250px;
    position: absolute;
    top: calc(50% - 52px);
    left: calc(50% - 258px);
    background-color: rgb(255, 255, 255);
    z-index: -1;
}



/* =============================================================================
   navigation & utility & social menu
   ========================================================================== */

.navigation .menu,
.utility .menu {
    display: block;
    width: 100%;
    min-width: 1200px;
    margin: auto;
    text-align: center;
    position: relative;
    z-index: 1000;
    background-color: #fff;
}
.utility .menu {
    background-color: #333;
    position: absolute;
    left: 0;
    top: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.menu .item {
    display: inline-block;
}
.utility .menu .link,
.navigation .menu .link {
    display: inline-block;
    text-decoration: none;
    color: #888;
    font-size: 1.5em;
    line-height: 3;
    margin: 0 20px;
    position: relative;
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
}

.utility .menu .link {
    color: #fff;
    font-size: 1em;
    line-height: 2.5;
    margin: 0 10px;
}
.navigation .menu .link:hover,
.navigation .menu .link.active {
    color: rgba(106, 197, 183, 1);
}

nav.social {
    overflow: auto;
}
nav.social ul.menu {
    position: absolute;
    top: 0;
    overflow: auto;
    width: auto;
    z-index: 9999;
}
nav.social ul.menu li.item {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0;
    float: left;
    position: relative;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
nav.social ul.menu li.item:hover {
    background-color: rgb(82, 167, 155);
}
.item a[title="Twitter"]:before,
.item a[title="Tumblr"]:before,
.item a[title="Vimeo"]:before,
.item a[title="Behance"]:before,
.item a[title="Flickr"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 20px;
    height: 20px;
    background-size: 30px;
    background-position: center;
}
.item a[title="Twitter"]:before {
    background: url(../img/platform_tw.svg) no-repeat;
}
.item a[title="Tumblr"]:before {
    background: url(../img/platform_fb.svg) no-repeat;
}
.item a[title="Vimeo"]:before {
    background: url(../img/platform_vi.svg) no-repeat;
}
.item a[title="Behance"]:before {
    background: url(../img/platform_yt.svg) no-repeat;
}
.item a[title="Flickr"]:before {
    background: url(../img/platform_ig.svg) no-repeat;
}
.form {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: #ddd;
    overflow: auto;
    margin: 0 0 30px;
    width: 250px;
}
.form input {
    width: 90%;
    border: none;
    outline: none;
    font-size: 1em;
    line-height: 1.25;
    padding: 10px 10px;
    background-color: #555;
    width: 70%;
    float: left;
    color: #fff;
}
.form button.control {
    width: 90%;
    background-color: rgba(106, 197, 183, 1);
    outline: none;
    border: none;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 500;
    padding: 10px 0;
    color: #fff;
    width: 30%;
    float: right;
}


/* =============================================================================
   main
   ========================================================================== */
/*>>>*/
main.page {
    width: 1200px;
    padding: 20px 30px 0;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.main {
    width: calc(100% - 340px);
    float: left;
    margin: 0;
    padding: 0 0 50px 0;
    overflow: hidden;
}
.event.item {
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
}
.event.item + * {
    padding-top: 20px;
}
.event.item:hover .attach img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
}
.event .attach {
    height: 300px;
    width: 300px;
    float: left;
    overflow: hidden;
    border: 8px solid #333;
}
.event .attach img {
    width: 100%;
    display: block;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 600ms ease;
       -moz-transition: all 600ms ease;
         -o-transition: all 600ms ease;
            transition: all 600ms ease;
}
.event .content {
    width: calc(100% - 300px);
    float: right;
    overflow: auto;
    padding-left: 30px;
}
.event h2.heading {
    color: #333;
    font-size: 3em;
    line-height: 1;
    font-weight: 700;
    margin: 10px 0 0 -2px;
}
.event .meta p.date,
.event .meta p.location {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    font-family: "Crete Round", serif;
}
.event .meta p.date {
    font-size: 1.25em;
}
.event .meta p a.map.link {
    color: rgba(106, 197, 183, 1);
}
.event .copy p {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.45;
    margin: 5px 0 10px 0;
}
.event .footer {
}
.event nav.categories,
.event nav.tags {
    margin: 0 0 0 -4px;
}
.event nav.categories .category,
.event nav.tags .tag {
    border: 2px solid rgba(106, 197, 183, 1);
    color: rgba(106, 197, 183, 1);
    font-size: 0.875em;
    font-weight: 600;
    line-height: 1;
    float: left;
    margin: 4px;
    padding: 4px 8px;
    -webkit-transition: all 400ms ease;
       -moz-transition: all 400ms ease;
         -o-transition: all 400ms ease;
            transition: all 400ms ease;
}
.event nav.categories .category:hover,
.event nav.tags .tag:hover {
    background-color: rgba(106, 197, 183, 1);
    color: #fff;
}
nav.menus.paging {
    margin-top: 10px;
    clear: both;
    border: none;
}
.menu.paginate {
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    line-height: 1;
    border: 4px solid #333;
    padding: 3px 7px;
    display: inline-block;
    background-color: #333;
}
.menu.paginate .item a {
    margin: 0 8px;
}
.menu.paginate .item a.active {
    color: rgba(106, 197, 183, 1);
}



/* =============================================================================
   sub
   ========================================================================== */

.sub {
    float: right;
    width: 300px;
}
nav.tags.menus.segment h2.heading {
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 0 10px 3px;
    color: rgba(106, 197, 183, 1);
    color: #333;
}
.archives.segment,
nav.tags.menus.segment li.item {
    float: left;
    background-color: rgba(106, 197, 183, 1);
    border: 2px solid rgba(106, 197, 183, 1);
    color: #fff;
    font-size: 0.875em;
    line-height: 1;
    float: left;
    margin: 4px;
    padding: 4px 8px;
    border-radius: 2px;
}
.archives.segment a.button.archive {
}
.subscribe {
    clear: both;
    background-color: rgba(106, 197, 183, 1);
    margin: 0 0 30px;
}
.email h2 {
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    text-align: center;
    line-height: 1.5;
    margin: 0;
    padding: 10px 0;
}
.mc-field-group label {
    display: none;
}
.mc-field-group input {
    width: 90%;
    margin: auto 5%;
    border: none;
    outline: none;
    font-size: 1em;
    line-height: 1.25;
    padding: 10px 12px;
    background-color: #fff;
}
.email .button {
    width: 90%;
    margin: 10px 5% 15px;
    background-color: rgba(106, 197, 183, 1);
    background-color: rgb(82, 167, 155);
    background-color: rgba(0, 0, 0, 0.3125);
    outline: none;
    border: none;
    font-size: 1em;
    line-height: 1.25;
    font-weight: 600;
    padding: 10px 0;
    color: #fff;
}
.subscribe .rss {
    font-size: 0.875em;
    line-height: 2.5;
    text-align: center;
    display: block;
    border-top: 2px solid rgb(82, 167, 155);
    border-top: 2px solid rgba(0, 0, 0, 0.3125);
    color: #fff;
}

.calendar.segment {
    max-width: 100%;
    margin: 0 0 30px;
}

a.event.link {
    display: none;
}
.dot {
    height: 3px;
    width: 3px;
    background-color: #000;
    border-radius: 100%;
}

table.mini.cal.ui {
    width: 100%;
    table-layout: fixed;
    color: #333;
    background-color: rgba(106, 197, 183, 1);
}
table.mini.cal.ui caption {
    width: 100%;
    position: relative;
    font-size: 1.125em;
    line-height: 38px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-top: 2px solid #ddd;
    color: #fff;
    color: rgba(106, 197, 183, 1);
}
nav.months.menu.ui a {
    font-size: 12px;
    font-weight: 400;
    line-height: 38px;
    color: rgba(106, 197, 183, 1);
    padding: 0 10px;
}
nav.months.menu.ui a.prev {
    position: absolute;
    left: 10px;
    top: 10px;
    left: 0;
    top: 0;
}
nav.months.menu.ui a.next {
    position: absolute;
    right: 10px;
    top: 10px;
    right: 0;
    top: 0;
}
thead.days {
    height: 30px;
}
tr.days.week th {
    font-size: 0.75em;
    font-weight: 700;
    color: #fff;
    vertical-align: middle;
}
.abbr-short {
    display: none;
}
tr.days.week {
    border-top: 2px solid rgb(82, 167, 155);
}
tr.week {
    height: 30px;
}
tr.week td {
    position: relative;
    vertical-align: middle;
}
td.events.day {
}
td.off span.date {
    color: rgba(255, 255, 255, 0.5);
}
td span.date {
    display: block;
    font-size: 0.875em;
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
td span.date:hover::before,
td span.date.hasEvent::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 2px;
    margin-left: calc(50% - 15px);
    width: 26px;
    height: 26px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
}

a.event.link {
    opacity: 0;
    pointer-events: none;
    display: block;
    position: absolute;
    bottom: 30px;
    left: -25px;
    background-color: lime;
    width: 100px;
    height: 100px;
    z-index: 10000;
}

.mini.cal.ui .link.day:hover + .event.link {
    background-color: red;
    opacity: 1;
}



/* =============================================================================
   footer
   ========================================================================== */

footer {
    text-align: center;
}
footer.footer {
    width: 100%;
    clear: both;
    width: 100%;
    background-color: #333;
    overflow: auto;
    padding: 15px 0;
    color: #aaa;

}
.footer nav.departments.menus ul li a {
    font-size: 1.125em;
    margin: 0 10px;
    color: #ddd;
    -webkit-transition: all 200ms ease;
       -moz-transition: all 200ms ease;
         -o-transition: all 200ms ease;
            transition: all 200ms ease;
}
.footer nav.departments.menus ul li a:hover {
    color: #fff;
}
.footer .legal {
    font-size: 0.875em;
    margin-top: 5px;
}


article.h-entry.story {
    width: 100%;
    margin: auto;
    padding: 0 270px 50px;
    padding: 0 300px 50px;
    position: relative;
}
article.h-entry.story figure.attach {
/*    display: none;*/
}
article.h-entry.story .content .header h1 {
    font-weight: 700;
    font-size: 4.5em;
    line-height: 1;
}
aside.profiles {
    width: 270px;
    position: absolute;
    left: 0;
}
aside.profiles .profile.card {
    overflow: auto;
}
aside.profiles figure.attach {
    width: 50px;
    height: 50px;
    float: left;
    border: 4px solid #333;
    margin: 0;
}
aside.profiles figure.attach img {
    max-width: 100%;
    max-height: 100%;
}
aside.profiles .profile.card .content {
    width: calc(100% - 50px);
    float: right;
    margin: 0;
    padding: 0 20px 0 0;
}
aside.profiles .profile.card .content p.heading {
    width: 100%;
    background-color: #fff;
    border-left: none;
    line-height: 46px;
    line-height: 1;
    margin: 0;
    margin-top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-size: 1.5em;
    font-weight: 600;
}
aside.profiles .profile.card .content ul.link.list {
    padding: 0 10px;
    font-size: 0.875em;
    color: #aaa;
}
aside.profiles .profile.card .content li.item a {
}
aside.profiles .profile.card .content li.item a i.icon.twitter {
}
aside.profiles .profile.card .content li.item a i.icon.instagram {
}
aside.profiles .profile.card .content li.item a i.icon.behance {
}

article.h-entry.story .content .body p {
    font-weight: 400;
    font-size: 1.275em;
    line-height: 1.5;
    margin: 0 0 0.75em;
}
article.h-entry.story .content .body p strong {
    font-weight: 700;
    font-size: 1.275em;
    line-height: 1.25;
}
article.h-entry.story .content .body p em {
    font-style: italic;
}
aside.segment.gallery {
    position: absolute;
    right: 0;
    width: 270px;
}
aside.segment.gallery ul.slides {
    padding: 0 0 0 20px;
}
aside.segment.gallery ul.slides li.slide {
}
aside.segment.gallery ul.slides li.slide a {
}
aside.segment.gallery ul.slides li.slide a img {
    width: 70%;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 10;
    border: 4px solid #333;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
aside.segment.gallery ul.slides li.slide:nth-child(2) a img {
    top: -10px;
    left: 30px;
    z-index: 9;
}
aside.segment.gallery ul.slides li.slide:nth-child(3) a img {
    top: -20px;
    left: 40px;
    z-index: 8;
}












/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@media only screen and (max-width: 1024px) {
    .sub {
        clear: both;
        width: 100%;
        padding-bottom: 40px;
        display: none;
    }
    tr.week {
        height: 50px;
    }
    main.page {width: 100%;}
    .main {width: 100%;}
    .navigation .menu,
    .utility .menu {
        min-width: 100%;
    }
    .event h2.heading {
        margin: 5px 0 0 0;
    }
    .event .content {
        width: calc(100% - 200px);
        padding-left: 25px;
    }
    .event .attach {
        height: 200px;
        width: 200px;
    }
}
@media only screen and (max-width: 768px) {
    .navigation .menu,
    .utility .menu,
    .event .copy p {
        display: none;
    }
    .event h2.heading {
        font-size: 2em;
        margin: 5px 0 0 0;
    }
    .event .content {
        width: calc(100% - 150px);
        padding-left: 20px;
    }
    .event .attach {
        height: 150px;
        width: 150px;
        float: left;
        overflow: hidden;
        border: 8px solid #333;
    }
    .brand .mark {
        display: none;
    }
    .event.item + * {
        border-top: 1px solid #ddd;
    }
}
@media only screen and (max-width: 480px) {
}



/*

header {
    background-color: red;
}
.navigation .menu,
.utility .menu {
    background-color: green;
}
main.page {
    background-color: lime;
}
.main {
    background-color: blue;
}*/



/* =============================================================================
   homepage
   ========================================================================== */

section.events {
    width: 100%;
    padding: 0 100px;
    margin: auto;
}
.lede {
    width: 100%;
    margin: auto;
    background-color: #333;
    overflow: auto;
    padding: 40px 100px;
    display: table;
    vertical-align: middle;
}
.lede .attach {
    float: left;
    color: #fff;
    width: 50%;
}
.lede .content {
    float: right;
    color: #fff;
    width: 50%;
    display: table-cell;
    vertical-align: middle;
}
.lede .content .header h2.heading {
    font-weight: 700;
    font-size: 3.125em;
    line-height: 1;
    margin: 0 0 0 -2px;
}
.lede .content .meta .date,
.lede .content .meta .location {
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    font-family: "Crete Round";
}
.lede .content .meta .date {
    font-size: 1.25em;
}
ul.events.items.ui {

}
.event.item.teaser {
    width: 18.4%;
    float: left;
    margin: 10px 2% 0 0;
    overflow: auto;
}
.event.item.teaser:last-child {
    margin: 10px 0;
}
.event.item.teaser .attach {
    height: auto;
    width: 100%;
    float: left;
    margin: 0 0 10px;
    overflow: hidden;
    border: 8px solid #333;
}
.event.item.teaser .body {
    margin: 0 0 20px;
}
.event.item.teaser h2.heading {
    color: #333;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1;
    margin: 0 0 0 -2px;
}
.event.item.teaser .meta p.date,
.event.item.teaser .meta p.location {
    font-size: 0.875em;
    line-height: 1.6;
}
.event.item.teaser .copy {
    display: none;
}
.lede .content .events .footer {
    clear: both;
    text-align: center;
    border-top: 2px solid rgba(106, 197, 183, 1);
    font-size: 1em;
    line-height: 3;
    color: rgba(106, 197, 183, 1);
}
